@import "tailwindcss";
@import "tw-animate-css";

/* global.css */
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  background: radial-gradient(125% 125% at 50% 10%, #6b21a8 30%, #ec4899 90%);
  background-size: 160% 160%;
  background-repeat: no-repeat;
  animation: radialShift 12s ease-in-out infinite;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: background 0.5s ease;
}



@keyframes radialShift {
  0% {
    background-position: 50% 10%;
    background-size: 160% 160%;
  }
  50% {
    background-position: 50% 30%;
    background-size: 180% 180%;
  }
  100% {
    background-position: 50% 10%;
    background-size: 160% 160%;
  }
}

